:root {
    --primary-color: white;
    --secondary-color: rgb(5,5,5);
    --highlight-color: #82B9A4;
    --lowlight-color: #D8F1E7;
}
html {
    font-size: 120%;
}

body {
    margin: auto;
    height: max-content;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Quicksand, Calibri, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

a:hover {
    filter: brightness(120%);
    color: rgb(80,80,80);
}
body > div {
    border-bottom: dotted windowtext 2.0pt;
    padding-left: 10vw;
    padding-right: 10vw;
}

/* Header */
#homeArrow {
    position: absolute;
left: 1rem;
top: 1rem;
rotate: -90deg;
}

#header {
    text-align: center;
    background: var(--lowlight-color);
    padding-top: 1rem;
}

#header a {
    font-size: 1.1rem;
    white-space: nowrap;
        text-decoration: none;
        color: inherit;
}
#header a:not(:last-child):after {
    content: "┈";
    margin: 0 1rem;
}

h1 {
    font-family:"Adobe Garamond Pro",serif;
    color:var(--highlight-color);
    font-size: 3rem;
    margin: 0 auto;
    max-width: 51rem;
}
svg {
    fill: var(--highlight-color);
    height: 100%;
    width: 1.4rem;
    vertical-align: middle;
}

/* details */
#details {
    text-align: center;
}
#details p span {
    font-size: 1.1rem;
    white-space: nowrap;
}
#details p > span:not(:last-child):after {
    content: "┈";
    margin: 0 1rem;
}
 #details p span span {
    font-weight: 500;
    color: var(--highlight-color);
 }

/* Content */
#content {
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.leftCol {
    padding: 1.2rem;
    grid-column: 1/2;
    font-family:"Adobe Garamond Pro",serif;
    color:var(--highlight-color);
    font-weight: 600;
    text-align: right;
    font-size: 1.3rem;
}
.rightCol {
    padding: 1.2rem;
    grid-column: 2/3;
    font-size: 1rem;
    color: var(--secondary-color);
    min-width: 30%;
}
    .rightCol table {
        width: 100%;
    }
    .rightCol ul {
        list-style-type: "-  ";
    }
    .rightCol > img {
        width: 100%;
    }

.sticky {
    position: fixed;
    top: 0;
  }
  .sticky + .content {
    padding-top: 102px;
  }

#topArrow {
    position: fixed;
    opacity: 0;
    height: 0;
    left: 1rem;
    top: 0;
    transition: visibility 0s linear 0.8s, opacity 0.8s linear;
}

.rightCol p {
    margin: 0 auto;
}

.rightCol * td {
    padding-bottom: 1rem;
}
.JournalArticles table {
    width: fit-content;
}
.JournalArticles * td {
    padding-right: 3rem;
}

#content a {
    color: var(--highlight-color);
    
}

.altmetric {
    vertical-align: middle;
}
.inlineicon {
    vertical-align: middle;
    width: 1rem;
}
#content table {
    margin: 0.3rem 0;
}
#posters img {
    width: 8vw;
}
#researchImpact * img {
    height: 2.3rem;
    margin: 0.6rem 0;
    vertical-align: middle;
}
    #posters * a:hover {
        opacity: 80%;
        filter: brightness(100%);
    }
#researchImpact td {
    vertical-align: middle;
}

#teaching p {
    margin: 0 auto 1rem auto;
}

@media screen and (max-width: 768px) {
    body > div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #topArrow {
        left: 0.1rem!important;
    }
    .leftCol {
        padding-right: 0.4rem;
    }
    .rightCol {
        padding-left: 0.4rem;
    }
}