:root {
    --primary-color: white;
    --secondary-color: rgb(5,5,5);
    --highlight-color: #82B9A4;
    --lowlight-color: #D8F1E7;
}
html {
    font-size: 120%;
}

body {
    margin: auto;
    height: max-content;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Quicksand, Calibri, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

p {
    margin: 0 auto 1rem auto;
}

a:hover {
    filter: brightness(120%);
    color: rgb(80,80,80);
}
body > div {
    border-bottom: dotted windowtext 2.0pt;
    padding-left: 10vw;
    padding-right: 10vw;
}

/* Header */
#homeArrow {
    position: absolute;
left: 1rem;
top: 1rem;
rotate: -90deg;
}

#header {
    text-align: center;
    background: var(--lowlight-color);
    padding-top: 1rem;
}

#header a {
    font-size: 1.1rem;
    white-space: nowrap;
        text-decoration: none;
        color: inherit;
}
#header a:not(:last-child):after {
    content: "┈";
    margin: 0 1rem;
}

h1 {
    font-family:"Adobe Garamond Pro",serif;
    color:var(--highlight-color);
    font-size: 3rem;
    margin: 0 auto;
    max-width: 51rem;
}
svg {
    fill: var(--highlight-color);
    height: 100%;
    width: 1.4rem;
    vertical-align: middle;
}

/* details */
#details {
    text-align: center;
}
#details p {
    margin: 0.7rem auto 0.7rem auto;
}
#details p span {
    font-size: 1.1rem;
    white-space: nowrap;
}
#details p > span:not(:last-child):after {
    content: "┈";
    margin: 0 1rem;
}
 #details p span span {
    font-weight: 500;
    color: var(--highlight-color);
 }

/* Content */
.bi-arrow-up-circle {
    width: 2rem;
}

#content {
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.leftCol {
    padding: 1.2rem;
    grid-column: 1/2;
    font-family:"Adobe Garamond Pro",serif;
    color:var(--highlight-color);
    font-weight: 600;
    text-align: right;
    font-size: 1.3rem;
}
    .leftCol div {
        position: sticky;
        top: 0;
        cursor: pointer;
    }

.rightCol {
    padding: 1.2rem;
    grid-column: 2/3;
    font-size: 1rem;
    color: var(--secondary-color);
    min-width: 30%;
    max-height: 500rem;
    transition: max-height 0.3s ;
    overflow: hidden;
}
    .rightCol table {
        width: 100%;
    }
    .rightCol ul {
        list-style-type: "-  ";
    }
    .rightCol > img {
        width: 100%;
    }
.rightColHidden {
    max-height: 1.1rem;
}
.rightColMask-container {
    width: 100%;
    position: relative;
  }
.rightColMask {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%);
    position: absolute; 
    width: 100%;
    height: 2.5rem;
    opacity: 0;
    transition: opacity 0.6s;
}

.sticky {
    position: fixed;
    top: 0;
  }
  .sticky + .content {
    padding-top: 102px;
  }

#topArrow {
    position: fixed;
    opacity: 0;
    height: 0;
    left: 1rem;
    top: 0;
    transition: visibility 0s linear 0.8s, opacity 0.8s linear;
}

/* .rightCol p {
    margin: 0 auto;
} */

.rightCol * td {
    padding-bottom: 1rem;
}
#JournalArticles table {
    width: fit-content;
}
#JournalArticles * td {
    padding-right: 3rem;
}
#JournalArticles p {
    margin-bottom: 1rem;
}

#content a {
    color: var(--highlight-color);
    
}

.altmetric {
    vertical-align: middle;
    display: inline;
}
    .altmetric * img {
        vertical-align: middle;
        display: inline;
        width: auto;
        height: auto;
    }
    .altmetric * span {
        color: var(--secondary-color);
    }
    .altmetric * {
        text-decoration: none;
    }

.inlineicon {
    vertical-align: middle;
    width: 1rem;
}
#content table {
    margin: 0.3rem 0;
}
#posters img {
    width: 8vw;
}
#researchImpact * img {
    height: 2.3rem;
    margin: 0.6rem 0;
    vertical-align: middle;
}
#researchImpact p {
    margin-bottom: auto;
}
    #posters * a:hover {
        opacity: 80%;
        filter: brightness(100%);
    }
#researchImpact td {
    vertical-align: middle;
}
#researchImpact table {
    width: auto;
}

#teaching p {
    margin: 0 auto 1rem auto;
}

#Collaboration img {
    margin-top: -12%;
}

@media screen and (max-width: 768px) {
    body > div {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #topArrow {
        left: 0.1rem!important;
    }
    .leftCol {
        padding-right: 0.4rem;
    }
    .rightCol {
        padding-left: 0.4rem;
    }
}

@media screen and (max-width: 500px) {
    #content {
        /* display: block; */
        grid-template-columns: min-content 1fr;
    }
    .rightCol {
        margin-top: 2rem;
    }
    #Collaboration {
        margin-top: 4rem;
    }
    .leftCol {
        padding-left: 0.4rem;
        padding-bottom: 0.2rem;
        text-align: left;
        font-size: 1.6rem;
        width: 1vw;
    }
    .leftCol div {
        width: 100vw;
        text-align: center;
        background-color: white;
        margin-left: -0.6rem;
        padding: 1px 1.6rem;
        box-sizing: border-box;
    }
    #homeArrow {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    #header a {
        font-size: 1rem;
        grid-column: 2/3;
    }
    #header a:not(:last-child)::after {
        content: none;
    }
    #header p {
        text-align: left;
        display: block;
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-gap: 0.2rem;
    }
    #details p > span:not(:last-child)::after {
        content: "|";
        margin: 0 0.3rem;
    }
    #details p span {
        font-size: 0.9rem;
        white-space: normal;
    }
    #topArrow {
        z-index: 1;
    }
    #topArrow svg {
        background: white;
        width: 1.6rem;
    }
}
