:root {
    --primary-color: rgb(55, 50, 46);
    --secondary-color: #f0f1f1;
    --soft-primary-color: rgba(255,255,255,0.5);
    --focus-color: rgb(0,150,0);
  }
  

body {
    /* background: rgb(142,142,142); */
    /* background: linear-gradient(325deg, rgb(100, 100, 150) 0%, rgb(140, 130, 160) 49%, rgb(100, 100, 150) 100%); */
    background: linear-gradient(180deg, rgba(240,241,241,0) 0%, rgba(230,230,230,1) 100%);
    background-color: #f0f1f1;
    background-size:cover;
    font-family: Quicksand, Calibri, Arial, Helvetica, sans-serif;
    max-width: 60vw;
    margin: auto;
    height: max-content;
}
a {
    text-decoration: none;
}

/* PROFILE */
.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0 3vh 0;
}
#profileimg {
    border-radius: 50%;
    max-width: 50%;
    max-height: 20vh;
    box-shadow: 0 3.5vh 40px 0 rgba(0, 0, 0, 0.09);
}

/* EXTERNAL LINKS */
.externalLinks {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 0 20vw;
}

.externalLinks a {
    color: var(--primary-color);
    transition: all 0.2s ease;
}
.externalLinks a svg {

    min-width: 8vw;
    height: 100%;
    max-height: 2rem;
}
.externalLinks a:hover {
    transition: all 0.2s ease;
    transform: scale(1.2);
    /* filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0,0.45)); */
    /* box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0,0.45);
    background: rgb(54, 54, 54); */
}
.externalLinks a:hover > .externalLinkLabel {
    visibility:visible;
}
.externalLinks *:hover {

    cursor: pointer;
}
.externalLinkLabel {
    font-size: 0.8rem;
    text-align: center;
    visibility: hidden;
    transition: in 0.2s ease;
}

#twitter:hover {
    color: #1DA1F2;
}
#youtube:hover {
    color: #FF0000;
}
#aphasiatherapyonline:hover {
    color: rgb(71, 117, 62);
}
#emaila:hover {
    color:#ff8300;
}
#latrobe:hover {
    color: #e22333;
}


/* BIO PARAGRAPH */
.bioParagraph {
    margin: 1rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bioParagraph p {
    background-color: var(--soft-primary-color);
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 1rem;
    margin: 0;
    color: var(--primary-color);
}

/* TOP LINKS */
.toplinkContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.toplinkContainer > div {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 20%;
    height: 3rem;
    margin: auto 0.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
}
.focus {
    color: var(--focus-color)!important;
}

/* WORDCLOUD */
.wordcloud {
    overflow-wrap: break-word;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0 ;
    color: var(--secondary-color);
}
.wordcloud span {
    margin: auto 0.3rem;
}
#learnAbout {
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* CONTENT LINKS */
.contentlinks {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem 1rem 1rem;
}
.contentlinks > div {/* card */
    transition: all 0.2s;
    color: var(--primary-color);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: white;
    overflow: hidden;
}

.contentlinks > div a {
    /* transition: all 0.2s;
    color: var(--primary-color);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: var(--soft-primary-color);
    overflow: hidden; */
    color: var(--primary-color);
}
.contentlinks > div:hover {
    transition: all 0.2s ease;
    transform: scale(1.01);
    box-shadow: 0 3.5vh 40px 0 rgba(0, 0, 0, 0.09);
    /* filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0,0.45)); */
    /* box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0,0.45);
    background: rgb(54, 54, 54); */
}

.contentlinks div a div {
    display: grid;
    align-items: center;
}

.cardUpper {
    height: 5rem;
    overflow: hidden;
    justify-items: center;
}

.cardLower {
    background: var(--secondary-color);
    padding: 1rem;
}
.cardLower span {
    font-size: 1rem;
    font-weight: 400;
}

.cardColumnLeft {
    display: block;
    position: relative;
    grid-column: 1/2;
    width: min-content;
    font-weight: bold;
}

.cardColumnRight {
}

.contentlinks p {
    padding: 0 1rem;
}

.hidden {
    height: 0;
    display: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

@media (orientation: portrait) {
    body {
        max-width: 90vw;
    }
    .externalLinks {
        padding: 0;
    }
}