:root {
    --primary-color: white;
    --secondary-color: rgb(5,5,5);
    --soft-primary-color: rgba(255,255,255,0.5);
    --focus-color: rgb(0,150,0);
  }
  

body {
    background: rgb(142,142,142);
    background: linear-gradient(325deg, rgb(100, 100, 150) 0%, rgb(140, 130, 160) 49%, rgb(100, 100, 150) 100%);
    background-size:cover;
    font-family: Quicksand, Calibri, Arial, Helvetica, sans-serif;
    max-width: 60vw;
    margin: auto;
    height: max-content;
}

/* PROFILE */
.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0 3vh 0;
}
#profileimg {
    border-radius: 50%;
    max-width: 50%;
    max-height: 20vh;
}

/* EXTERNAL LINKS */
.externalLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20vw;
}

.externalLinks a {
    color: var(--primary-color);
    transition: all 0.2s ease;
}
.externalLinks a svg {

    min-width: 8vw;
    height: 100%;
    max-height: 2rem;
}
.externalLinks a:hover {
    transition: all 0.2s ease;
    transform: scale(1.2);
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0,0.45));
    /* box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0,0.45);
    background: rgb(54, 54, 54); */
}
#twitter:hover {
    color: #1DA1F2;
}
#youtube:hover {
    color: #FF0000;
}
#aphasiatherapyonline:hover {
    color: rgb(82, 187, 82);
}
#emaila:hover {
    color:#fddb00;
}
#latrobe:hover {
    color: #e22333;
}


/* BIO PARAGRAPH */
.bioParagraph {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bioParagraph p {
    /* background-color: var(--soft-primary-color); */
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 1rem;
    margin: 0;
}

/* TOP LINKS */
.toplinkContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.toplinkContainer > div {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 20%;
    height: 3rem;
    margin: auto 0.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
}
.focus {
    color: var(--focus-color)!important;
}

/* WORDCLOUD */
.wordcloud {
    overflow-wrap: break-word;
}
.wordcloud span {
    margin: auto 0.3rem;
}

/* CONTENT LINKS */
.contentlinks > div {
    transition: all 0.2s;
    color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--soft-primary-color);
}

.hidden {
    height: 0;
    display: none;
}

@media (orientation: portrait) {
    body {
        max-width: 90vw;
    }
    .externalLinks {
        padding: 0;
    }
}